//====== COLORES ===============
$color-primario: #55c57a;
$color-primario-claro: #7ed56f;
$color-primario-oscuro: #28b485;

$color-gris-oscuro: #777;
$color-gris-oscuro-2: #999;
$color-gris-oscuro-3: #333;
$color-gris-claro-1: #f7f7f7;
$color-gris-claro-2: #eee;

$color-secundario-claro: #ffb900;
$color-secundario-oscuro: #ff7730;

$color-terciario-claro: #2998ff;
$color-terciario-oscuro: #5643fa;

// MARGENES DEL GRID
$width-grid: 114rem;
$margen-horizontal: 6rem;
$margen-vertical-small: 6rem;
$margen-vertical: 8em;

// FONT SIZE

$default-font-size: 1.6rem;
